@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700|Raleway:400,500,600,700,900&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
p{
	text-align: left;
	color: #222;
}
/*===COMMON CSS===*/
button,
button:focus {
    outline: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}


li {
    display: inline-block;
    list-style: none;
}


a,
a:hover,
a:focus {
    color: #222;
    text-decoration: none;
    outline-offset: 0;
    outline:0;
    transition: 0.35s ease-in-out;
    text-align: left;
}

button,
button:focus {
    text-decoration: none;
    background: transparent;
    border: 0;
}

.form-control,
.form-control:focus,
input,
input:focus {
    outline: 0;
    border: 0;
}

img {
    max-width: 100%;
    height: 100%;
}
.white-color{
  color: #fff;
}

.mrt-30 {
    margin-top: 30px;
}
.mrt-15{
  margin-top: 15px;
}
.capitalize {
    text-transform: capitalize;
}

.allcaps {
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Raleway', sans-serif;
}
.pl {
  padding-left:0;

}
.pr {
  padding-right: 0;
}
.container{
    max-width:1200px;
}
.tooltip-inner {
    min-width: 80px;
    padding: 10px 0;
    margin-right: 5px;
    border-radius: 0;
}
.anchor{
    cursor: pointer;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.section-padding {
    padding: 50px 0;
}

.section-tpadding {
    padding-top: 25px;
}

.section-bpadding {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px
}

.pb20 {
    padding-bottom: 20px
}

.mb20 {
    margin-bottom: 20px;
    display: block;
}

.form-control.is-invalid {
    border: 1px solid #e74c3c !important;
}

.invalid-feedback {
    color: #e74c3c;
}

.form-control {
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: 0 0;
    transition: 0.35s ease-in-out;
}

.contact-form input {
    height: 40px !important;
}

.form-control:focus {
    border: 1px solid #0F7AD5;
    box-shadow: 0 0;
    outline: 0;
}

section.main-section {
    background: #f5f6fa;
    margin-bottom:25px;
}

.padding10 {
  padding:0 10px;
}
.background-white {
  background: #fff;
}

.main-button {
  text-align: center;
  padding: 20px 0;
}

.main-button a {
    padding: 6px 25px;
    border: 1px solid #D72924;
    border-radius: 5px;
    transition: all .5s ease;
}
.main-button a:hover {
    color:#fff;
    background:  #D72924;
 }   

/*======HEADER CSS START=======*/


.top-header {
  background-color: #4659A7;
}
.hotline p {
  color:#fff;
  text-transform: capitalize;
}

.hotline a {
  color:#fff;
  margin-left:10px;
}
.highlights marquee a {
  color: #fff;
}
.affliate-area {
  text-align:right;
}
.affliate-area a {
  color:#fff;
  text-transform: uppercase;
  padding: 0 5px;
}
.affliate-area .affliate {
  background: #F05323;
  padding: 10px 20px;
  display: inline-block;
  margin-left: 10px;
}

/*Heade Top End*/
.main-menu ul {
  text-align: left;
}
.main-menu ul li a {
    text-transform: capitalize;
    padding: 10px 0;
    display: inline-block;
    margin-right: 20px;
    color: #000;
    font-weight: 900;
    font-size:16px;
}
.search-area {
    background: #E5E5E5;
}
.search form {
    border: 1px solid #F05323;
    overflow: hidden;
    border-radius: 33px;
}
.search-area .search {
  margin-top:21px;
}
.search label {
  width:20%;
  float: left;
  padding: 8px;
    margin: 0;
    text-align: center;
    color:#fff;
    background: #F05323;
}
.search input[type="search"]{
  width:70%;
  float: left;
  padding: 8px;
  border-radius: 50px 0 0 50px;
  background: #E5E5E5;
}
.search button {
  width:10%;
  background: #F05323;
  padding: 8px;
  
}

.search i {
  color:#fff;
}
.training {
    text-align: right;
}
.training a {
  background: #4659A7;
  padding: 11px 10px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
}
/*========= Slider Top Css ==========*/
section.slider-area {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 120px 0;
}
.slide-text {
    padding-top: 50px;
    text-transform: capitalize;
}
.slide-text h2 {
  color: #fff;
  margin: 0
}
.slide-text p {
    color: #fff;
    font-size: 16px;
    padding: 18px 0;
}
.slide-text a {
    background: #F05323;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
}
.slide-image {
    text-align: center;
    padding:0 80px;
}
/*=========slider end==========*/

/*=========portfolio start==========*/
.portfolio-item {
  box-shadow: 0px 0px 15px 4px #ddd;
    border-radius: 5px 5px 0 0;
    margin-bottom: 30px;
}
.portfolio-item .owl-carousel .owl-nav button.owl-next{
  font-size: 40px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .5s ease;
  padding:0 10px !important;

}
.portfolio-item .owl-carousel .owl-nav button.owl-next:hover {
  background: #222;
}
.portfolio-item .owl-carousel .owl-nav button.owl-prev{
  font-size: 40px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .5s ease;
  padding:0 10px !important;
}
.portfolio-item .owl-carousel .owl-nav button.owl-prev:hover {
  background: rgba(0,0,0,.7)
}
.portfolio-title p {
  text-align: left;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.portfolio-menu {
  border: 2px solid #E6E6E6;
  padding: 8px 20px;
  margin-bottom: 20px;
}
.portfolio-menu .nav {
  border-bottom: 1px solid transparent;
  float: right;
}
.portfolio-menu .nav li a {
  border: 2px solid #E6E6E6;
  padding: 6px 8px;
  display: inline-block;
  text-transform: capitalize;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: 900;
}
.portfolio-menu .nav li .active {
  background: #4659A7;
  color: #fff;
}
.portfolio-menu ul span {
  margin-right: 10px;
  font-weight: 900;
}
.portfolio-item .portfolio-name {
  font-weight: 600;
  padding: 12px 20px;
  text-transform: capitalize;
  font-weight: ;
  font-size: 15px;
  display: inline-block;
  color: #222;
}
.portfolio-item-img ,.portfolio-item-img img{
  height: 215px;
  position: relative;
}
.portfolio-item-img img {
  border-radius: 5px 5px 0 0;
}
.portfolio-action {
  padding: 0 20px;
  overflow: hidden;
  padding-bottom: 20px;
}
.portfolion-action-button {
    float: left;
    width: 70%;
    text-align: right;
}
.portfolion-price {
  width: 30%;
  float: left;
  margin-top: 8px;
}
.portfolion-action-button ul li a {
  border: 1px solid #888;
  padding: 6px 8px;
}
.portfolion-action-button ul li a {
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.portfolion-action-button ul li.seedemo a {
  position: relative;
  color: #222;
}
.portfolion-action-button ul li.seedemo a:hover{
  color: #fff;
}
.portfolion-action-button ul li.seedemo a::after {
  position: absolute;
  left: 0;
  top: 0;
  background: #4659A7;
  content: "";
  height: 100%;
  width: 0;
  z-index: -1;
  color: #fff;
}
.portfolion-action-button ul li.seedemo a:hover::after{
  animation: seedemo forwards 1s ;
}

@keyframes seedemo {
  0% {width: 0%}
  50% {width: 75%}
  100% {width: 100%;}
}
.portfolion-price p {
  color: #4659A7;
  font-weight: 600;
}

.portfolion-action-button ul li.ordernow a {
  border-color: #F05323;
  padding: 6px 14px;
  transition: 0.35s all;
}
.portfolion-action-button ul li.ordernow a {
  color: #F05323;
}
.portfolion-action-button ul li.ordernow a i {
  font-size: 15px;
}
.portfolion-action-button ul li.ordernow:hover a{
  background: #F05323;
  color: #fff;
}


.pbutton{
    border: 4px solid #3F3F3F;
    color: #3F3F3F;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}

.pbutton.label,
.pbutton.icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

.pbutton .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.pbutton .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}

.pbutton .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

.pbutton .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

.pbutton:hover .label {
    transform: translateX(-52px);
}

.pbutton:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

.pbutton:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

.pbutton:active {
    border-color: #FD6154;
    color: #FD6154;
}

.pbutton:active .icon-arrow {
    fill: #FD6154;
}
.all-portfolio-see a {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 16px;
  background: #4659A7;
  color: #fff;
  padding: 10px 34px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
}
.all-portfolio-see a .arrowleft {
  margin-right: 6px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.all-portfolio-see a .arrowright {
  margin-right: 6px;
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}
/*=========portfolio end==========*/


/*========= Scroll Top Css ==========*/
.scrolltop {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ED1B2F;
    z-index: 4;
    display: none;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
/*============Footer section Css========= */

footer {
  background: rgb(70,89,167);
  background: linear-gradient(90deg, rgba(70,89,167,1) 0%, rgba(0,0,0,1) 0%, rgba(70,89,167,1) 100%);
}

.social-icon ul {
  margin:0;
  padding:0;
}
.social-icon ul li {
  width:25%;
  margin:0;
  padding:10px 0;
  float: left;

}
.social-icon ul li a {
  text-align: center;
  display: inline-block;
  display: block;
}
.social-icon ul li a i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.facebook {
  background: #4267B2;
}
.google {
  background: #F05323;
}
.linkedin {
  background: #0073B0;
}
.youtube {
  background: #e63868;
}




